<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
<body id="index">
	<header class="cd-header">
		<a href="#0" class="cd-logo"></a>
		<a href="#0" class="cd-3d-nav-trigger">
			Menu
			<span></span>
		</a>
	</header> <!-- .cd-header -->

	<main>
    <h1 class="text-center" id='projects-h1'>Daniel Villegas Sainz</h1>
    <div id="dani-page">
      <div class="row">
      <div class="col-md-4 col-sm-6 col-centered">
      		<div class="card-container manual-flip">
      			 <div class="card">
      					 <div class="front">
      							 <div class="cover">
      									 <!-- <%= image_tag "5.jpg" , alt: "Picture of Daniel Villegas", class:"card-image" %> -->
      							 </div>
      							 <div >
      							 </div>
      							 <div class="content">
      									 <div >
      									 </div>
      									 <div class="footer">
      										 <button class="btn btn-simple" onclick="rotateCard(this)">
      												 <i class="fa fa-mail-forward"></i> More Details!
      										 </button>									 </div>
      							 </div>
      					 </div> <!-- end front panel -->
      					 <div class="back">
      							 <div class="header">
      									 <h5 class="motto">Daniel Villegas</h5>
      							 </div>
      							 <div class="content">
      									 <div class="main">
      											 <h4 class="text-center">Most people call me Dani, and i've had a passion for Technology related areas since i was young.<br>I'm a Wyncode Academy graduate,and now i'm pursuing my dream carreer of Programming.<br>I've always had a artistic and deisign oriented side and Web dev will be my outlet.I plan on learning as much as possible within the next year and see where things take me</h4>
      											 <p class="text-center"></p>

      											 <div class="stats-container">
      													 <div class="stats">
      															 <h4>2</h4>
      															 <p>
      																	 Days
      															 </p>
      													 </div>
      													 <div class="stats">
      															 <h4>2</h4>
      															 <p>
      																	 People
      															 </p>
      													 </div>
      													 <div class="stats">
      															 <h4>1</h4>
      															 <p>
      																	 Website
      															 </p>
      													 </div>
      											 </div>

      									 </div>
      							 </div>
      							 <div class="footer">
      								 <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
      										 <i class="fa fa-reply"></i> Back
      								 </button>
      									 <div class="social-links text-center">
      											 <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-github fa-fw"></i></a>
      											 <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
      											 <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
      									 </div>
      							 </div>
      					 </div> <!-- end back panel -->
      			 </div> <!-- end card -->
      	 </div> <!-- end card-container -->
         </div>
      </div>
    </div>
	</main>

	<nav class="cd-3d-nav-container">
		<ul class="cd-3d-nav">
			<li >
				<%= link_to "Home" , pages_path %>
			</li>

			<li>
				<%= link_to "Projects" , projects_path %>
			</li>

			<li class="cd-selected">
				<%= link_to "Who Am I?" , dani_path %>
			</li>

			<li>
				<a href="#0">Settings</a>
			</li>


		</ul> <!-- .cd-3d-nav -->

		<span class="cd-marker color-1"></span>
	</nav> <!-- .cd-3d-nav-container -->

	<!-- <script src="js/jquery-2.1.1.js"></script> -->
	<%= javascript_include_tag "jquery-2.1.1" %>
	<!-- <script src="js/main.js"></script>  -->
	<%= javascript_include_tag "main.js" %>
</body>
