<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<!-- <link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css"> -->
	<!-- <script src="../modernizr.js"></script> -->

	<title>3D Rotating Navigation | CodyHouse</title>
</head>
<body>
	<header class="cd-header">
		<a href="#0" class="cd-logo"><%= render :partial => 'cd-logo' %></a>
		<a href="#0" class="cd-3d-nav-trigger">
			Menu
			<span></span>
		</a>
	</header> <!-- .cd-header -->

	<main>
		<h1>3D Rotating Navigation</h1>
		<!-- all your content here -->
	</main>

	<nav class="cd-3d-nav-container">
		<ul class="cd-3d-nav">
			<li class="cd-selected">
				<a href="#0" style="<%= render :partial => 'icon-1' %>">Dashboard</a>
			</li>

			<li>
				<a href="#0" style="<%= render :partial => 'icon-2'%>">Projects</a>
			</li>

			<li>
				<a href="#0" style="<%= render :partial => 'icon-3'%>">Images</a>
			</li>

			<li>
				<a href="#0" style="<%= render :partial => 'icon-4'%>">Settings</a>
			</li>

			<li>
				<a href="#0" style="<%= render :partial => 'icon-5'%>">New</a>
			</li>
		</ul> <!-- .cd-3d-nav -->

		<span class="cd-marker color-1"></span>
	</nav> <!-- .cd-3d-nav-container -->
<!-- <script src="js/jquery-2.1.1.js"></script> -->
<!-- <script src="js/main.js"></script>  -->
</body>
</html>
